/* .main-page {
  background-image: linear-gradient(
      to bottom,
      rgba(231, 142, 26, 0.52),
      rgba(8, 2, 7, 0.73)
    ),
    url(../../assets//images/mountain.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
} */
