.main-signup-page {
  background-image: linear-gradient(
      to bottom,
      rgba(231, 142, 26, 0.52),
      rgba(8, 2, 7, 0.73)
    ),
    url(../../assets//images/mountain.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.signup-form {
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px;
  padding: 50px;
  /* margin-top: 50px; */
  margin: auto auto;
  height: 80vh;
  width: 60vh;
}

.signup-btn {
  display: flex;
}

.signup_login-btn {
  margin-left: 30px;
}

/* .signup-login-btn {
  margin-left: 20px;
  padding: 100px;
} */
